<p>
  <b>Son daughter wife of:</b>
  <%=h @fixed_deposit.son_daughter_wife_of %>
</p>

<p>
  <b>Resident address:</b>
  <%=h @fixed_deposit.resident_address %>
</p>

<p>
  <b>Fdopen date:</b>
  <%=h @fixed_deposit.fdopen_date %>
</p>

<p>
  <b>Name:</b>
  <%=h @fixed_deposit.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @fixed_deposit.age %>
</p>

<p>
  <b>Father husband:</b>
  <%=h @fixed_deposit.father_husband %>
</p>

<p>
  <b>Relationship with member:</b>
  <%=h @fixed_deposit.relationship_with_member %>
</p>

<p>
  <b>Type:</b>
  <%=h @fixed_deposit.type %>
</p>


<%= link_to 'Edit', edit_fixed_deposit_path(@fixed_deposit) %> |
<%= link_to 'Back', fixed_deposits_path %>
