<p>
  <b>Cc no:</b>
  <%=h @member.cc_no %>
</p>

<p>
  <b>Emp no:</b>
  <%=h @member.emp_no %>
</p>

<p>
  <b>Photo:</b>
  <%=h @member.photo_id %>
</p>

<p>
  <b>Member no:</b>
  <%=h @member.member_no %>
</p>

<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Designation:</b>
  <%=h @member.designation %>
</p>

<p>
  <b>Section:</b>
  <%=h @member.section %>
</p>

<p>
  <b>Station:</b>
  <%=h @member.station %>
</p>

<p>
  <b>Dob:</b>
  <%=h @member.dob %>
</p>

<p>
  <b>Age:</b>
  <%=h @member.age %>
</p>

<p>
  <b>Doj npc:</b>
  <%=h @member.doj_npc %>
</p>

<p>
  <b>Doj kaiga:</b>
  <%=h @member.doj_kaiga %>
</p>

<p>
  <b>No of years of service:</b>
  <%=h @member.no_of_years_of_service %>
</p>

<p>
  <b>Date of retirement:</b>
  <%=h @member.date_of_retirement %>
</p>

<p>
  <b>Band pay:</b>
  <%=h @member.band_pay %>
</p>

<p>
  <b>Grade pay:</b>
  <%=h @member.grade_pay %>
</p>

<p>
  <b>Present address:</b>
  <%=h @member.present_address %>
</p>

<p>
  <b>Permanent address:</b>
  <%=h @member.permanent_address %>
</p>

<p>
  <b>Contact no:</b>
  <%=h @member.contact_no %>
</p>

<p>
  <b>Account no:</b>
  <%=h @member.account_no %>
</p>

<p>
  <b>First nominee name:</b>
  <%=h @member.first_nominee_name %>
</p>

<p>
  <b>First nominee relationship:</b>
  <%=h @member.first_nominee_relationship %>
</p>

<p>
  <b>First nominee dob:</b>
  <%=h @member.first_nominee_dob %>
</p>

<p>
  <b>First nominee age:</b>
  <%=h @member.first_nominee_age %>
</p>

<p>
  <b>First nominee address:</b>
  <%=h @member.first_nominee_address %>
</p>

<p>
  <b>Second nominee name:</b>
  <%=h @member.second_nominee_name %>
</p>

<p>
  <b>Second nominee relationship:</b>
  <%=h @member.second_nominee_relationship %>
</p>

<p>
  <b>Second nominee dob:</b>
  <%=h @member.second_nominee_dob %>
</p>

<p>
  <b>Second nominee age:</b>
  <%=h @member.second_nominee_age %>
</p>

<p>
  <b>Second nominee address:</b>
  <%=h @member.second_nominee_address %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
